<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mendeley Literature Visualizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>

        .card {
            overflow: auto;
        }

        .waves-effect {
            width: 100%;
        }

        .subheader {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            margin: 0.75rem 16px;
        }

        .list-divider {
            border: 0;
            height: 1px;
            overflow: hidden;
            background-color: #e0e0e0;
            margin-right: 16px;
            margin-left: 75px;
        }

        .list {
            margin: 0;
        }

        .list li {
            padding: 0 16px;
        }

        .list li .valign-wrapper {
            min-height: 72px;
        }

        .list i.circle {
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.26);
        }

        .list .title span {
            color: rgba(0, 0, 0, 0.54);
        }

        .ml-auto {
            margin-left: auto;
        }

        i.ml-auto {
            color: rgba(0, 0, 0, 0.26);
        }

    </style>
</head>

<body>
<nav class="blue" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="/logout">Logout</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <h1 class="header center orange-text">Documents in {{ folder_name }}</h1>

    <div class="row">
        <table class="highlight responsive-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Authors</th>
                <th>DOI</th>
                <th>Arxiv</th>
                <th>Citations (Crossref)</th>
                <th>Citations (Scholar)</th>
                <th>Citations (Scopus)</th>
            </tr>
            </thead>

            <tbody>
            {% for doc in docs %}
                <tr>
                    <td><b>{{ doc.title }}</b></td>
                    <td>{{ doc.year }}</td>
                    <td>
                        {% for author in doc.authors %}
                            {% if loop.last %}
                                <span>{{ author.first_name }} {{ author.last_name }}</span>
                            {% else %}
                                <span>{{ author.first_name }} {{ author.last_name }}, </span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if doc.identifiers.doi %}
                            <a href="https://doi.org/{{ doc.identifiers.doi }}" target="_blank">
                                <i class="material-icons left circle">open_in_new</i>
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if doc.identifiers.arxiv %}
                            <a href="https://arxiv.org/abs/{{ doc.identifiers.arxiv }}" target="_blank">
                                <i class="material-icons left circle">open_in_new</i>
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if doc.citation_count_crossref %}
                            {{ doc.citation_count_crossref }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                <td>
                        {% if doc.citation_count_scholar %}
                            {{ doc.citation_count_scholar }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                <td>
                        {% if doc.citation_count_scopus %}
                            {{ doc.citation_count_scopus }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#    <div class="row">#}
    {#        <ul class="list">#}
    {#            {% for doc in docs %}#}
    {#                <li class="waves-effect hoverable">#}
    {#                    <div class="row valign-wrapper" style="margin-bottom: 0px;">#}
    {#                        <div class="col s10">#}
    {#                            <i class="material-icons left circle white-text small">insert_drive_file</i>#}
    {#                            <div class="title">#}
    {#                                <b>{{ doc.title }}</b>#}
    {#                                <br>#}
    {#                                <span>{{ doc.year }}</span>#}
    {#                                <br>#}
    {#                                Authors:#}
    {#                                {% for author in doc.authors %}#}
    {#                                    {% if loop.last %}#}
    {#                                        <span>{{ author.first_name }} {{ author.last_name }}</span>#}
    {#                                    {% else %}#}
    {#                                        <span>{{ author.first_name }} {{ author.last_name }}, </span>#}
    {#                                    {% endif %}#}
    {#                                {% endfor %}#}
    {#                                <br>#}
    {##}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col s2">#}
    {#                            {% if doc.identifiers.doi %}#}
    {#                                <a href="https://doi.org/{{ doc.identifiers.doi }}" target="_blank">#}
    {#                                    <i class="material-icons left circle white-text">open_in_new</i>#}
    {#                                </a>#}
    {#                            {% endif %}#}
    {##}
    {#                            {% if doc.identifiers.arxiv %}#}
    {#                                <a href="https://arxiv.org/abs/{{ doc.identifiers.arxiv }}" target="_blank">#}
    {#                                    <i class="material-icons left circle white-text">open_in_new</i>#}
    {#                                </a>#}
    {#                            {% endif %}#}
    {##}
    {#                        </div>#}
    {#                    </div>#}
    {#                </li>#}
    {##}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    </div>#}

    <br>
    <br>
</div>


<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About this tool</h5>
                <p class="grey-text text-lighten-4">ToDo</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="white-text">Manuel Muñoz Sánchez</a>
        </div>
    </div>
</footer>
</body>
</html>

